
.html{
    padding: 0;
    margin: 0;
}
.body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
.sky{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-right: 10px;
}
.nav-link:hover{
    background-color: #131b2428;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-right: 10px;
}
.row{
    position: relative;
}
.navbar{
    background-image: linear-gradient(to right, 
    rgba(255, 255, 255, 0), 
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.501),
    rgba(255, 255, 255)
    );
}
#content{
    position: relative;
    background-color: white;
}
#content-col-left{
    background-image: linear-gradient(to top right, #32455a,#131b24);
    box-shadow: 10px 0 10px -2px rgba(0, 0, 0, 0.342);
}
#services{
    position: relative;
    background-color: rgb(255, 255, 255);
}
#services-carousel-inner{
    border: 8px solid rgb(255, 255, 255);
    box-shadow: -5px 0 5px -2px rgba(0, 0, 0, 0.235);
}
#estimate{
    position: relative;
    background-image: url(../images/roof4.jpg);
    background-size: 100%;
}
#estimate-text{
    padding-top: 8%;
    padding-bottom: 6%;  
}
.p5{
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    font-weight: bolder;
    color: white;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.461);
    text-align:right;
    margin: 4% 0 0 0;
    padding: 0 7.5% 0 0;  
}
.p6{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    color: white;
    text-align: right;
    margin: -2% 0 0 0;
    padding: 0 12% 0 0;
}
.p7{
    font-family: 'Montserrat', sans-serif;
    font-size: 8vw;
    color: #fec300;
    font-weight: bold;
    text-align: right;
    margin: -2% 0 0 0;
    padding: 0 12.5% 0 0;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.238);
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-shadow: 5px 5px 5px  #00000087;
    margin-top: 10%;
}
.welcome-title{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 247, 219);
    font-size: 1.5rem;
    text-shadow: 3px 3px 3px  #0000003d;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    font-size: 2rem;
    color: white;
    margin-top: 15%;
    padding-left: 10px; 
}
.content-text{
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 247, 219);
    font-size: 1.2rem;
    text-shadow: 3px 3px 3px  #0000003d;
    margin-bottom: 15%;
    padding-left: 10px;
}
/*a Bootstrap class*/
.strong-points{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px  #0000001f;
    padding-bottom: 20px;
}
.strong-points-icons{
    width: 100px;
    margin: 40px 0 20px 0;
    filter: drop-shadow(3px 3px 3px #00000056);
}
.col-lg-3.strong-points.first{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white)
}

.col-lg-4.strong-points.second{
    background-color: rgb(230, 230, 230); 
}
.col-lg-4.strong-points.third{
    background-color: rgb(205, 205, 205);  
}
.col-lg-4.strong-points.fourth{
    background-color: rgb(175, 175, 175);
}
.services-roofer{
    width: 100%;
}
h4{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    text-shadow: 2px 2px 2px  #0000001f;
    margin: 20px 0 20px 0;
    color: #ed5113;
}
ul{
    list-style-type: none ;
    line-height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem; 
}
@media only screen and (min-width: 1920px) {
    ul {
      line-height: 60px;
    }
  }
i{
    margin-right: 15px; 
}
h5{
    background-color: #00000049;
    font-family: 'Montserrat', sans-serif;
}
#roofing{
    background-color: rgb(255, 255, 255);
    position: relative;
    padding: 40px 0 0 0;
}
.roofing-button{
    color:#fec300;
    font-size: 1.5rem;
    font-weight: bold;
    border:#fec300 solid 2px;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px 12px 10px 12px;
}
.roofing-button:hover{
    background-color: #fec300;
    color: black;
}
.roofing-text{
    font-size: 2.4rem;
}
.col-lg-4.roofing{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
.col-lg-8.roofing{
    text-align: center;
}
.roofing-text2{
    background-color: #fec300;
    color: #131b24;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 30px 15px 30px 15px;
    margin-top: 40px;
    text-align: center;
}
.roofing-text3{
    color: #131b24;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 30px 15px 30px 15px;
    margin-top: 40px;
}
.roofing-text4{
    color: #131b24;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding: 30px 15px 30px 15px;
    margin-top: 40px;
    text-align: center;
}
footer{
    position: relative;
    background-image: linear-gradient(to top right, #32455a,#131b24);
    padding: 50px 0 0 0;
    margin-top: -15px;
}
.footer-container1{
    text-align: center; 
}
.logo-footer{
    width: 50%;
}
.footer-ul{
    list-style-type: none ;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    padding: 0;
    line-height: 30px;
    color: white;
}
.footer-links{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0;
    line-height: 30px;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #fec300;
}
.footer-services{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
.material-icons.footer{
    font-size:1.2rem; 
    color:#ffffff;
}
.material-icons{
    font-size:1.4rem; 
    color:#ff4e13;
}
.col-lg-2.col-md-6.contact{
    text-align: center;
}
input[type=text],[type=email], select, textarea {
  width: 80%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}
input[type=submit] {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 12px 20px;
  border:#fec300 solid 2px;
  border-radius: 6px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color:#fec300;
  color: black;
}
label{
  color: #fec300;
}
.copy{
  background-color: #131b244f;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-align: center;
  color: white;
  margin-top: 20px;
  padding: 10px 0 10px 0;
}
.contact-container {
  max-width: 600px;
}