

/* Container1 -------------------------------------------------------------------------------------*/

/*Video*/
#myVideo {
    width: 100%;
    height: 100%;
}
/*House image*/
.img1{
    position: absolute;
    width: 60%;
    margin-left: 38.9%;
    margin-top: 19.4%;
}  
/*white bar*/
.headerbar{
    position: absolute;
    width: 83%;
}
/*blue logo*/
.logo{
    position: absolute;
    width: 13%;
    margin-top: 1.2%;
    margin-left: 1%;
}
/*logo text*/
.logo1{
position: absolute;
    width: 30%;
    margin-top: 2.1%;
    margin-left: 16%;
}
/*nav menu*/
.topnav{
    position:absolute;
    overflow: hidden;
    /*border: crimson;
    border-style: dashed;*/
    top: 2%;
    right: 1%;
}
/*nav menu text*/
.topnav a {

    color: #f2f2f2;
    padding: 8px;
    text-decoration: none;
    font-size: 1.8vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /*border: yellow;
    border-style: dashed;*/
}
/* -----------------------------------------------------------------------------------------------*/

.footer-nav{
    background-color: #1c4469;
    display:flex;
    padding-top: 2%;
}

.footer-left{
    border: #fec300;
    border-style: dashed;
    width: 20%;
}
li{
    list-style-type:none;
}
li a{
    font-size: 1.2vw;
    color: #f2f2f2;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}










.footer-middle{
    border: #fec300;
    border-style: dashed;
    width: 40%;
    text-align: center;
}

.p9{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #f2f2f2;
    font-size: 1.8vw;
    text-align: center;
    
}
.p10{
    font-family: 'Montserrat', sans-serif;
    color: #fec300;
    font-size: 1.5vw;
}
.p11{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5vw;
    
}


.footer-right{
    border: #fec300;
    border-style: dashed;
    width: 40%;
}





/* Container2 -------------------------------------------------------------------------------------*/
.container2{
    display: flex;
    background-image: url(/Roof/images/roof2.png);
    margin-top: -0.4%;
}
.container-left{
    width: 60%;
}
/*white logo*/
.logo3{
    width: 13%;
    margin-left: 5%;
    margin-top: 10%;
    position: absolute;
}
.line{
    width: 30%;
    margin-left: 20%;
    margin-top: 17%;
    position: absolute;
}
h1{
    font-size: 2.9vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 23%;
    margin-left: 37%;
    color: #f2f2f2;
}
p.p1{
    color: #fec300;
    margin-top: 17%;
    font-size: 2vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
}
p.p2{
    color: white;
    font-size: 2vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    font-weight: bold;
}
p.p3{
    font-size: 1.5vw;
    text-align: center;
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
}
.icon-insulation{
    width: 60%;
    margin-left: 22%;
}

.container-right{
    width: 50%;
    text-align: center;

}
h2{
    position: relative;
    font-size: 1.8vw;
    color: #fec300;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: lighter;
}
.icons{
    width: 20%;
    text-align: center;
}



/* Section -------------------------------------------------------------------------------------*/

.sub-section{
    position: absolute;
    width: 40%;
    left: 55%;
    margin-top: 3%;
}
.img2{
    width: 100%;

}
.p4{
    color: #1c4469;
    font-size: 3vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
ul{
    font-size: 1.7vw;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    gap:1.2vw;
    list-style-type: none;
    margin-left: 10%;
}


/* Container3 -------------------------------------------------------------------------------------*/

.container3{
    margin-top: -0.4%;
}

.sub-container3{
    position: absolute;
    left: 43%;
}

.p5{
    font-family: 'Montserrat', sans-serif;
    font-size: 10vw;
    font-weight: bolder;
    color: white;
    letter-spacing: -0.5vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.461);
    text-align: center;    
}

.p6{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5vw;
    color: white;
    top: -10%;
    margin-top: -22%;
    text-align: center;
}

.p7{
    font-family: 'Montserrat', sans-serif;
    font-size: 9.3vw;
    color: #fec300;
    top: -10%;
    margin-top: -10%;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.238);
}

/* Container4 -------------------------------------------------------------------------------------*/

.container4{
    display: flex;
    height: 10vw;
}

.container4-left{
    width: 30%;
    text-align: center;
}
.container4-right{
    width: 72%;
}

.p8{
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 1.8vw;
}

.material-icons{
    padding-top: 3%;
    margin-left: 3%;
}

.btn {
    background-color: #ff4e13;
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    padding: 1vw 2vw;
    text-align: center;
    font-size: 1.5vw;
    margin-top: -3%;
    transition: 0.3s;
    font-family:'Montserrat', sans-serif;
  }
  
  .btn:hover {
    background-color: #000000;
    color: white;
  }








